body {
  margin: 0 auto;
}

#time {
  color: black;
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: auto;
  left: 0; right: 0; bottom: 0; top: 0;
  /*width: 500px;*/
  text-align: center;
  height: 100px;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.show{
  opacity: 1 !important;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#container {
  width: 100%;
  height: 100%;
}
